
@import url('https://fonts.googleapis.com/css2?family=Mynerve&family=Roboto:wght@300;400&display=swap');

* {
  font-family: "Roboto", sans-serif;
  // font-family: "Mynerve", cursive;
  // font-weight: bold;
}

.about-link {
  color: #D63F8C !important;

  &:hover {
    color: #b61f6d !important;
  }
}

.light-theme {
  background-color: #DFE8EF;
}

.dark-theme {
  background-color: #121212;
  color: #f1f1f1;
}

body {
  background-color: #DFE8EF;
  width: 96vw;
  margin: 48px 2vw;
  font-style: normal;
  overflow-x: hidden;
  font-weight: 400;
  transition: background-color 0.3s ease;
}

h1 {
  text-align: center;
  margin-bottom: 0;
  font-size: 2em;
  // font-weight: bold;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0px;

  p {
    margin: 4px;
    font-size: 18px;
  }
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.app-header-description {
  margin: 16px 0px 0px 0px;
  text-align: center;
}

.floating-container {
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 10;
  
  .theme-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D63F8C;
    color: #fff;
    border: none;
    border-radius: 40px;
    width: 36px;
    height: 36px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    &:hover {
      background-color: #b61f6d;
    }
  }
}