
.app-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

.app-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    width: 100%;

    p {
        margin: 0 10px;
    }
}

.app-option-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-option-input {
    width: 100%;
    display: flex;
    justify-content: center;
}

.app-result {
    display: flex;
    flex-direction: column;
    padding: 4px;
    align-items: center;
    width: 92%;
    margin-bottom: 20px;
    word-break: break-all;

    &-selectedOption {
        text-align: center;
        margin: 0;
        padding: 12px;
        font-size: 24px;
        font-weight: bold;
        background-color: #ece1e9;
        border-radius: 6px;
        min-width: 100%;
    }
}

label {
    font-size: 1.2em;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 8px;
}

.button {
    padding: 10px 40px;
    margin-bottom: 24px;
    background-color: #D63F8C;
    color: #fff;
    border: 2px solid #D63F8C;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease-in-out 300ms;

    &:hover {
        background-color: #b61f6d;
        border-color: #b61f6d;
    }
}

.button--outline {
    background-color: transparent;
    color: #D63F8C;
    border: 2px solid #D63F8C;
    border-radius: 5px;
    margin-top: 4px;
    cursor: pointer;
    padding: 8px 38px;
    font-weight: bold;
    transition: all ease-in-out 300ms;

    &:hover {
        color: #fff;
        background-color: #D63F8C;
        border-color: #D63F8C;
    }   
}

.remove-option {
    font-size: 24px;
    margin-bottom: 8px;
}